h1 {
    text-align: center;
    
}
.panel-body {
    background: #b30000;
    color: white;
}
#pizzaTitle {
    padding-left: 60px;
}

body {
    background-image: url("../images/background.png");
    color: black;
    line-height: 2.5;
    
}
h3{
    font-family: 'Cherry Cream Soda', cursive;
}
